<div>
    <h1>Login</h1>
    <form id="login-form">
        <h4>Username:</h4>
        <input type="text" id="username-login">
        <h4>Password:</h4>
        <input type="text" id="password-login">
        <button type="submit">Submit</button>

        <a href="/signup">Create an account</a>
    </form>
</div>